:root{
    --primary-color: #5c48ee;
    --primary-color-dark: #0f1e6a;
    --secondary-color: #f9fafe;
    --text-color: #333333;
    --white: #ffffff;
    --max-width: 1200px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: "Poppins", sans-serif;
}


body{
    display: flex;
   
}


.sidebar{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 110px;
    height: 100vh;
    padding: 0 1.7rem;
    color: #fff;
    overflow: hidden;
    transition: all 0.5s linear;
    background: #5c48ee;
    padding-bottom: 60px;
}


.sidebar:hover{
    width: 240px;
    transition: 0.5s;
}


.logo{
    height: 80px;
    padding: 16px;
}


.menu{
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}


.menu li{
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}


.menu li:hover,
.active{
    background: #0f1e6a;
}


.menu a {
    color: #bde0f3;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}


.menu a span{
    overflow: hidden;
}


.menu a i{
    font-size: 1.2rem;
}


.logout{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}


.main{
    position: relative;
    background: #ebe9e9;
    width: 100%;
    padding: 1rem;
    margin-bottom: 60px;
}


.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}


.header-title{
    color: rgba(113, 99, 186, 255);
}


.user-info{
    display: flex;
    align-items: center;
    gap: 1rem;
}


.user-details{
    background: #5c48ee;
    border-radius: 15px;
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 12px;
}


.statistics-container{
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
}


.statistics-wrapper{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 30%;
    gap: 1rem;
}


.main-title{
    color: rgba(113, 99, 186, 255);
    padding-bottom: 10px;
    font-size: 15px;
}


.progress{
    background: #5c48ee;
    border-radius: 10px;
    padding: 1.2rem;
    width: 150px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
    color: #fff;
}


.progress .progress-header .stats-value .title{
    font-size: 1em;
}


.progress .progress-header .value{
    font-size: 1em;
}


.progress:hover{
    transform: translateY(-5px);
}


.progress-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


.stats-value{
    display: flex;
    flex-direction: column;
}


.title{
    font-size: 12px;
    font-weight: 200;
}


.dark-purple{
    background: purple;
}


.achievements{
    background: #5c48ee;
    border-radius: 10px;
    padding: 1.2rem;
    width: 150px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
    color: #fff;
}


.achievements:hover{
    transform: translateY(-5px);
}


.achievements .achievements-header .achievements-value .title{
    font-size: 1em;
}


.mywork{
    background: #5c48ee;
    border-radius: 10px;
    padding: 1.2rem;
    width: 150px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
    color: #fff;
}


.mywork:hover{
    transform: translateY(-5px);
}


.mywork .mywork-header .mywork-value .title{
    font-size: 1em;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
    padding: 0.5px ;
    text-align: center;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    margin-top: auto;
}


.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}


.footer_logo a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}


.footer_links ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}


.footer_links ul li {
    display: inline-block;
}


.footer_links ul li a {
    color: #fff;
    text-decoration: none;
}


.footer_links ul li a:hover{
    color:black;
}


#footer_social {
    margin-top: 20px;
    text-align: center;
}


#footer_social ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


#footer_social ul li {
    display: inline-block;
    margin-right: 10px;
}


#footer_social ul li:last-child {
    margin-right: 0;
}


#footer_social ul li a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s;
}


#footer_social ul li a:hover {
    color: #5c48ee;
}


#globe{
    margin-left: 10px;
}
#bound{
    margin-left: 10px;
}
#check{
    margin-left: 10px;
}


.footer_bottom {
    text-align: center;
    margin-top: 10px;
    font-size: 0.8rem;
}



