body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #acc6ed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 100px;
    height: auto;
    vertical-align: middle; /* Align the logo vertically with text */
    margin-right: 10px; /* Add space between the logo and text */
}

.logo h1 {
    font-size: 24px;
    display: inline-block; /* Display the text and logo in the same line */
    color: #1877f2;
}

.header {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.input-field {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #1877f2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #166fe5;
}

.Login a {
    color: #1877f2;
    text-decoration: none;
}

.Login a:hover {
    text-decoration: underline;
}
