*r

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #642B73;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C6426E, #642B73);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C6426E, #642B73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

h1 {
    color: #fff;
    text-align: center;
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.search-bar {
    margin-bottom: 20px;
    text-align: center;
}

.search-bar input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    width: 300px;
}

.search-bar button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #ff69b4;
    color: #fff;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #9400d3;
}

.genre {
    margin-bottom: 40px;
}

.genre h2 {
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 24px;
}

.book-list {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.book {
    flex: 0 0 auto;
    margin-right: 20px;
    scroll-snap-align: start;
}

.book img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}
